.scale-y-enter-active,
.scale-y-leave-active {
  transform-origin: top;
  transition: transform 0.3s;
}

.scale-y-enter,
.scale-y-leave-to {
  transform: scaleY(0);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
