@import '~fonts.css/fonts';

$bg-color: #f1f1f1;
$border-color: rgba(34, 36, 38, 0.15);
$reverse-color: #fff;
$card-bg-color: #fff;
$link-color: #4aaee7;
$primary-color: #24a7e3;
$text-desc-color: #888;
$link-desc-color: #999;
