@import '~fonts.css/fonts';

$bg-color: #f1f1f1;
$border-color: rgba(34, 36, 38, 0.15);
$reverse-color: #fff;
$card-bg-color: #fff;
$btn-tip-bg-color: #e8e8e8;
$link-color: #4aaee7;
$focus-color: #85b7d9;
$primary-color: #24a7e3;
$primary-disabled-color: #97cced;
$text-desc-color: #888;
$link-desc-color: #999;
$invalid-color: #f38686;
$invalid-bg-color: #fff6f6;
$invalid-border-color: #e0b4b4;
