@import '~normalize.css';
@import '~font-awesome/scss/font-awesome.scss';

@import 'tooltip';
@import 'transitions';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  @include font-hei();
  background-color: $bg-color;
  font-size: 14px;
  overflow-y: auto;
  line-height: (20/14);
}

#app {
  display: flex;
  min-height: 100%;

  > * {
    flex: 1;
  }
}

a {
  &,
  &:hover,
  &:visited {
    color: $link-color;
    text-decoration: none;
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;

  &.list-unstyled {
    list-style: none;
    padding-left: 0;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.btn {
  position: relative;
  padding: 6px 10px;
  font-size: 12px;
  border: 1px solid;
  border-radius: 3px;
  outline: 0;

  &.btn-primary {
    color: $reverse-color;
    border-color: $primary-color;
    background-color: $primary-color;

    &.disabled,
    &[disabled] {
      border-color: $primary-disabled-color;
      background-color: $primary-disabled-color;
      cursor: not-allowed;
    }
  }

  &.btn-block {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
